header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker-contianer {
    margin-top: 10px;
}